body {
  background-color: #ff00ff;
  font-family: Comic Sans MS;
  color: yellow;
}
.tiny-button {
  font-size: 6px;
  margin-left: 500px;
}
.dog-img {
  width: 100px;
  height: 100px;
  position: absolute;
  right: 0;
  top: 300px;
}