body{
  background-color: yellow;
      font-family: Papyrus, cursive;
      color: red;
    }

    .tiny-button {
      font-size: 5px;
      margin-top: 300px;
      margin-left: 600px;
    }

    .dog-picture {
      position: center;
      bottom: 50;
      right: 50;
      width: 300px;
      height: 300px;
    }

    .flashing-text {
      animation: flash 0.3s infinite alternate;
    }

    @keyframes flash {
      from { color: red; }
      to { color: yellow; }
    }